

.set{
    height: 20.8vw;
    width: 51vw;
    position: relative;
    left: 16vw;
    top: 13vw;
    border: 0.1vw solid #E05A2C;
    border-radius: 0.3vw;
    background: #E05A2C 0% 0% no-repeat padding-box;
}


div .li{
    padding:0;
    list-style:none;
    position:relative;
    float:left;
    z-index: 500;
}



  div .white {
    height: 17vw;
    width: 5.6vw;
    z-index:1;
    border: 0.14vw solid black;
    border-radius:0 0 1vw 1vw;
    box-shadow: 0.4vh 0.99vw 1vw #0000009e;
    background:-webkit-gradient(linear,left top, left bottom,from(#eee),to(#fff));
    background:linear-gradient(to bottom,#eee 0%,#fff 100%);

  }




div .white:active {
    box-shadow:0.2vw 0 0.2vw rgba(0,0,0,0.1) inset,-0.5vw 0.5vw 2vw rgba(0,0,0,0.2) inset,0 0 0.3vw rgba(0,0,0,0.2);
    background:-webkit-gradient(linear,left top, left bottom,from(#81c784),to(#81c784));
    background: #81c784;

}
div .black, .white:hover{
    cursor: pointer;
}

  
  .black {
    height: 9vw;
    width: 3vw;
    margin: 2vw -1.5vw !important;
    z-index:2;
    border:0.1vw solid #000;
    border-radius:0 0 0.3vw 0.3vw;
    background:linear-gradient(45deg,#222 0%,#555 100%);
    background:black;


  }
   
  .black:active {
    box-shadow:-0.1vw -0.1vw 0.2vw rgba(255,255,255,0.2) inset,0 -0.2vw 0.2vw 0.3vw rgba(0,0,0,0.6) inset,0 0.1vw 0.2vw rgba(0,0,0,0.5);
    background:-webkit-gradient(linear,left top, right top,from(#444),to(#222));
    background:linear-gradient(45deg,#222 0%,rgb(43, 42, 42) 100%);


}
  
   .b,.c,.e,.f {
    margin: 2vw 0 0 0.1vw;
  
  }
  
  .a{
    margin: 2vw 0vh 0 1vw;
  }
   .d,.g,.h{
    margin:  2vw 0vh 0 0.3vw ;
  }
  .as,.bs,.ds,.es,.hs{
      margin: 2vw 0 0 -1.2vw ; 
   } 
    

  .hs{
    width: 1.2vw;
    border-bottom-left-radius: 3vw;
  }

  
  .h{
    border-bottom-right-radius: 0!important;
  }


