.btn-micro{
    background: transparent linear-gradient(150deg, #FF6838 0%, #FFEC7E 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 5px #BA50FF8C;
    width: 4vw;
    height: 4vw;
    padding: 2vh;
    border-radius: 5vw;
    position: absolute;
    top:25vw;
    left:48vw;
    background-size: cover;

}

/* .microphone{
    background-image: url('/imagesplay/play_speak_button_bg.png');
    background-position:cover;
    background-repeat:no-repeat;
    width: 5vw;
    height: 5vw;
    border-radius: 5vw; 
    position: absolute;
    top:25vw;
    left:48vw
} */



.human-speak{
    background-image: url('/imagesplay/humanoid/speakhumanoid.png');
    background-size:cover;
    background-repeat:no-repeat;
    width: 40vw;
    height: 30vh;
    position: absolute;
    top: 8vw;
    left: 28vw;

}

.microBack{
    background-image: url('/imagesplay/play_speak_button_bg.png');
    background-size:cover;
    background-repeat:no-repeat;
    width: 11vw;
    height: 11vw;
    position: relative;
    top: 25vw;
    left: 43vw;

}

.microphoneBtn{
    background-image: url('/imagesplay/play_speak_button_talk.png');
    background-size:cover;
    background-repeat:no-repeat;
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: 2.5vw;
    left: 2.5vw;
}



.speechOP {
    position: absolute;
    top: 8vw;
    left: 45vw;
    color: #311B92;
    font-size: 2vh;
    text-align: center;
}